# windows文件
.DS_Store
*/.DS_Store

# 数据库迁移文件
*/migrations/*
!*/migrations/__init__.py

# pycharm文件
.idea
.idea/*
.iml

# vscode文件
.vscode
.vscode/*

# sql文件
*.sqlite3

# python字节文件
*/__pycache__/
*.pyc

# django日志（部署相关）
*.log
*.pid
*.ini

# 本地配置
local.properties