<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加话题</title>
    <style>
        p {
            text-align: center;
        }

        #title {
            width: 200px;
            height: 30px;
        }

        #content {
            width: 500px;
            height: 300px;
        }
    </style>
</head>

<body>
    <form action="{% url 'forum:add' %}" method="post">
        <p><input id='title' type="text" name="title" maxlength="100" placeholder="请输入话题" maxlength="20"></p>
        <p><textarea name="content" id="content" cols="30" rows="10" placeholder="在此添加内容..."></textarea></p>
        <p><input type="submit" value="添加"></p>

        {% csrf_token %}
    </form>
</body>

</html>