<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>论坛</title>
    {% endblock title %}
    {% block bgimg %}
    background-image: url("{% static 'imgs/forum.png' %}");
    {% endblock bgimg %}
    {% block style %}
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    {% endblock style %}

</head>

<body>
    {% block content %}
    <br><br><br><br><br><br>
    <center>
        <h4>
            <em>
                <strong>欢迎来到西林论坛！</strong>
            </em>
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'forum:add' %}" class="btn btn-primary" data-bs-toggle="tooltip" title="点击添加话题">添加话题</a>
        </h4>

    </center>
    <table class="table table-striped table-bordered table-hover w-75 mx-auto">
        <tr class="text-center">
            <th>话题</th>
            <th>发布者</th>
            <th>发布时间</th>
            <th>更新时间</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>
                <a href="{% url 'forum:detail' item.id %}" class="text-decoration-none" data-bs-toggle="tooltip" title="点击查看详情">{{ item }}</a>
            </td>
            <td class="text-center">
                <a href="{% url 'user:information' item.user.username %}" class="text-decoration-none" data-bs-toggle="tooltip" title="点击去往主页">
                    {{ item.user.nickname }}
                </a>
            </td>
            <td class="text-center"><small>{{ item.created_time }}</small></td>
            <td class="text-center"><small>{{ item.updated_time }}</small></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">还没有话题哦</td>
        </tr>
        {% endfor %}

    </table>
    {% endblock content %}
</body>

</html>