<!doctype html>
<html lang="zh-hans">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>个人主页</title>
    {% endblock title %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/classSchedule.css' %}">
    <link rel="stylesheet" href="{% static 'css/index-modify.css' %}">
    {% endblock style %}
</head>
<body>
{% block content %}
    <center>你的信息</center>
        <table>
            <tr>
                <th>用户名</th>
                <th>昵称</th>
                <th>年龄</th>
                <th>性别</th>
                <th>邮箱</th>
            </tr>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </table>
        <p class="modify"><a id="modifyInfo" href="{% url 'user:modify' %}">修改信息</a></p>
        <p class="modify"><a id="changePassword" href="{% url 'user:changePassword' %}">修改密码</a></p>
        <p><center><a href="{% url 'friends:friends_list' %}">好友</a></center></p>
        <p><center><a href="{% url 'user:inform' %}">消息/通知</a></center></p>
{% endblock content %}
id
</body>
</html>