<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>我的消息</title>

</head>

<body>
    {% for inform in informs %}
    <ul>
        <li>发送人:{{ inform.sender }}</li>
        <li>内容:{{ inform.content }}</li>
        <li>时间:{{ inform.send_time }}</li>
        <p><button id='agree'>同意</button><button id="reject">拒绝</button>
    </ul>
    <script>

        agree = document.getElementById('agree');
        reject = document.getElementById('reject');
        function confirm_agree() {
            if (confirm('确定添加{{ inform.sender }}为好友吗?')) {
                // ajex技术刷新
                // js 发送http请求
                var httpRequest = new XMLHttpRequest();
                httpRequest.open('POST', "{% url 'friends:agree' %}", true);
                httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                httpRequest.send('sender={{ inform.sender }}&receiver={{ username }}&id={{ inform.id }}');


            }
        }
        function confirm_reject() {
            if (confirm('确定拒绝添加{{ inform.sender }}为好友吗?\n')) {
                var httpRequest = new XMLHttpRequest();
                httpRequest.open('POST', "{% url 'friends:reject' %}", true);
                httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                httpRequest.send('sender={{ inform.sender }}&receiver={{ username }}&id={{ inform.id }}');

            }
        }
        agree.onclick = confirm_agree;
        reject.onclick = confirm_reject;

    </script>
    {% empty %}
    当前没有要处理的消息<a href="/">返回主页</a>
    {% endfor %}

</body>

</html>